section.about
  .container 
    +blockBox("What we do", "story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo animi neque earum id dolore soluta autem mollitia quae obcaecati quaerat illum, cupiditate commodi corporis ullam iure dolor tempore perferendis quibusdam")
    .about-list 
      +aboutItem({
        src: "./images/img-about1.png",
        title: "Super Team",
        classIcon: "fa fa-heart"
      })
      +aboutItem({
        src: "./images/img-about2.png",
        title: "Super Team",
        classIcon: "fa fa-heart"
      })
      +aboutItem({
        src: "./images/img-about3.png",
        title: "Super Team",
        classIcon: "fa fa-heart"
      })