footer.footer 
  .container 
    .footer-top 
      .footer-column 
        a(href="#").footer-heading.footer-heading--logo MoGo
        p.footer-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        p.footer-follower <strong>15k</strong> followers
        .footer-social Follow us: 
          a.footer-social-link(href="#") 
            img.footer-social-icon(src="./images/facebook.svg", alt="facebook-icon")
          a.footer-social-link(href="#") 
            img.footer-social-icon(src="./images/twitter.svg", alt="facebook-icon")
          a.footer-social-link(href="#") 
            img.footer-social-icon(src="./images/pinterest.svg", alt="facebook-icon")
          a.footer-social-link(href="#") 
            img.footer-social-icon(src="./images/google_plus.svg", alt="facebook-icon")
          a.footer-social-link(href="#") 
            img.footer-social-icon(src="./images/youtube.svg", alt="facebook-icon")
          a.footer-social-link(href="#") 
            img.footer-social-icon(src="./images/dribbble.svg", alt="facebook-icon")
          a.footer-social-link(href="#") 
            img.footer-social-icon(src="./images/tumblr.svg", alt="facebook-icon")
        form.footer-form(action="javascript:void(0)")
          input.footer-input(type="text" placeholder="Your Email...")
          button.footer-button Subscribe
      .footer-column
        h3.footer-heading blog
        a(href="#").footer-blog 
          img.footer-blog-img(src="./images/img-blogs1.png", alt="footer-blog")
          .footer-blog-info 
            h3.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
            span.footer-blog-date Jan 9, 2016
        a(href="#").footer-blog 
          img.footer-blog-img(src="./images/img-blogs2.png", alt="footer-blog")
          .footer-blog-info 
            h3.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
            span.footer-blog-date Jan 9, 2016
        a(href="#").footer-blog 
          img.footer-blog-img(src="./images/img-blogs3.png", alt="footer-blog")
          .footer-blog-info 
            h3.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
            span.footer-blog-date Jan 9, 2016
      .footer-column 
        .footer-heading intagram
        .footer-images-list 
          img.footer-image(src="./images/img-instagram1.png", alt="intargram-item")
          img.footer-image(src="./images/img-instagram2.png", alt="intargram-item")
          img.footer-image(src="./images/img-instagram3.png", alt="intargram-item")
          img.footer-image(src="./images/img-instagram4.png", alt="intargram-item")
          img.footer-image(src="./images/img-instagram5.png", alt="intargram-item")
          img.footer-image(src="./images/img-instagram6.png", alt="intargram-item")
          img.footer-image(src="./images/img-instagram7.png", alt="intargram-item")
          img.footer-image(src="./images/img-instagram8.png", alt="intargram-item")
          img.footer-image(src="./images/img-instagram9.png", alt="intargram-item")
        a.footer-link-more(href="#") View more photos 
    .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>