section.people 
  .container 
    +blockBox("Happy Clients", "what people say")
    ul.people-list 
      li.people-item 
        img.people-avatar(src="./images/img-people1.png", alt="people-image")
        .people-content 
          h3.people-title Matthew Dix
          span.people-job Graphic Design
          p.people-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam quaerat harum explicabo omnis illum, distinctio alias! Inventore rem accusantium modi, exercitationem voluptates nisi in nulla accusamus necessitatibus non dolores doloremque?
      li.people-item 
        img.people-avatar(src="./images/img-people2.png", alt="people-image")
        .people-content 
          h3.people-title Nick Karvounis
          span.people-job Graphic Design
          p.people-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam quaerat harum explicabo omnis illum, distinctio alias! Inventore rem accusantium modi, exercitationem voluptates nisi in nulla accusamus necessitatibus non dolores doloremque?
      li.people-item 
        img.people-avatar(src="./images/img-people3.png", alt="people-image")
        .people-content 
          h3.people-title Jaelynn Castillo 
          span.people-job Graphic Design
          p.people-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam quaerat harum explicabo omnis illum, distinctio alias! Inventore rem accusantium modi, exercitationem voluptates nisi in nulla accusamus necessitatibus non dolores doloremque?
      li.people-item 
        img.people-avatar(src="./images/img-people4.png", alt="people-image")
        .people-content 
          h3.people-title Mike Petrucci
          span.people-job Graphic Design
          p.people-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam quaerat harum explicabo omnis illum, distinctio alias! Inventore rem accusantium modi, exercitationem voluptates nisi in nulla accusamus necessitatibus non dolores doloremque?