section.story 
  .container 
    +blockBox("Our stories", "latest blog")
    .story-list 
      .story-item 
        .story-content 
          .story-media 
            img.story-img(src="./images/img-blog1.png", alt="story-image")
            .story-date 
              span.story-date-number 15
              span.story-date-text Jan 
          h3.story-title Lorem ipsum dolor sit amet
          p.story-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nemo tempora deserunt nisi ea quis, error nihil sed ipsa suscipit tempore illo possimus beatae quam vitae ratione quia atque optio!
        .story-meta 
          .story-meta-item
            img.story-meta-icon(src="./images/meta-eye.svg", alt="mata-icon")
            span.story-meta-number 542 
          .story-meta-item
            img.story-meta-icon(src="./images/meta-text.svg", alt="mata-icon")
            span.story-meta-number 72 
      .story-item 
        .story-content 
          .story-media 
            img.story-img(src="./images/img-blog2.png", alt="story-image")
            .story-date 
              span.story-date-number 14
              span.story-date-text Jan 
          h3.story-title Lorem ipsum dolor sit amet
          p.story-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nemo tempora deserunt nisi ea quis, error nihil sed ipsa suscipit tempore illo possimus beatae quam vitae ratione quia atque optio!
        .story-meta 
          .story-meta-item
            img.story-meta-icon(src="./images/meta-eye.svg", alt="mata-icon")
            span.story-meta-number 992
          .story-meta-item
            img.story-meta-icon(src="./images/meta-text.svg", alt="mata-icon")
            span.story-meta-number 42
      .story-item 
        .story-content 
          .story-media 
            img.story-img(src="./images/img-blog3.png", alt="story-image")
            .story-date 
              span.story-date-number 12
              span.story-date-text Jan 
          h3.story-title Lorem ipsum dolor sit amet
          p.story-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nemo tempora deserunt nisi ea quis, error nihil sed ipsa suscipit tempore illo possimus beatae quam vitae ratione quia atque optio!
        .story-meta 
          .story-meta-item
            img.story-meta-icon(src="./images/meta-eye.svg", alt="mata-icon")
            span.story-meta-number 1560 
          .story-meta-item
            img.story-meta-icon(src="./images/meta-text.svg", alt="mata-icon")
            span.story-meta-number 98
.map
  img.map-img(src="./images/img-map-icon.png", alt="map-icon")
  h3.map-title open map

