section.team 
  .container 
    +blockBox("Who we are", "meet owr team", " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad ipsam vero fugiat ipsa, amet voluptas odit sed quis hic tenetur magnam vel officia similique consequuntur consequatur facere voluptatibus reiciendis a?")
    .team-list 
      +teamItem("./images/img-team1.png", "Matthew Dix", "Graphic Design")
        +itemSocial()
      +teamItem("./images/img-team2.png", "Christopher Campbell", "Branding/UX design")
        +itemSocial()
      +teamItem("./images/img-team3.png", "Michael Fertig", "Developer")
        +itemSocial()
section.brand 
  .container 
    img(src="./images/img-logos.png", alt="logo-brand")