section.wedo 
  .container
    +blockBox("Service","what we do","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium nihil natus possimus suscipit ipsum. Nulla, error, obcaecati corrupti sapiente veniam nemo nihil laboriosam voluptas quidem in quos? Doloremque, obcaecati repellat.")
    .wedo-container 
      img.wedo-img(src="./images/img-wedo.png")
      .wedo-content 
        .wedo-item.is-active
          .wedo-item-header 
            img(src="./images/img-wedo-icon1.png", alt="wedo-icon").wedo-item-icon
            h3.wedo-item-title Photography 
            i.fal.fa-angle-up.wedo-item-arrow 
          .wedo-item-content
            .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia? Voluptas reiciendis eaque quos illo consequatur modi, maiores qui provident alias? Officia vero cum deleniti eos voluptatem sit suscipit provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia? Voluptas reiciendis eaque quos illo consequatur modi, maiores qui provident alias? Officia vero cum deleniti eos voluptatem sit suscipit provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia? Voluptas reiciendis eaque quos illo consequatur modi, maiores qui provident alias? Officia vero cum deleniti eos voluptatem sit suscipit provident.
        .wedo-item 
          .wedo-item-header 
            img(src="./images/img-wedo-icon2.png", alt="wedo-icon").wedo-item-icon
            h3.wedo-item-title creativity 
            i.fal.fa-angle-down.wedo-item-arrow 
          .wedo-item-content
            .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia? Voluptas reiciendis eaque quos illo consequatur modi, maiores qui provident alias? Officia vero cum deleniti eos voluptatem sit suscipit provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia? Voluptas reiciendis eaque quos illo consequatur modi, maiores qui provident alias? Officia vero cum deleniti eos voluptatem sit suscipit provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia? Voluptas reiciendis eaque quos illo consequatur modi, maiores qui provident alias? Officia vero cum deleniti eos voluptatem sit suscipit provident.
        .wedo-item 
          .wedo-item-header 
            img(src="./images/img-wedo-icon3.png", alt="wedo-icon").wedo-item-icon
            h3.wedo-item-title web design 
            i.fal.fa-angle-down.wedo-item-arrow 
          .wedo-item-content
            .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia? Voluptas reiciendis eaque quos illo consequatur modi, maiores qui provident alias? Officia vero cum deleniti eos voluptatem sit suscipit provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia? Voluptas reiciendis eaque quos illo consequatur modi, maiores qui provident alias? Officia vero cum deleniti eos voluptatem sit suscipit provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia? Voluptas reiciendis eaque quos illo consequatur modi, maiores qui provident alias? Officia vero cum deleniti eos voluptatem sit suscipit provident.