section.work 
  .container 
    +blockBox("What we do", "some of our work", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis quia deleniti quam beatae assumenda aspernatur voluptate iusto accusantium magni, incidunt doloremque numquam aperiam fugiat. Magnam itaque aspernatur ex possimus iste.")
  .work-list 
    +workItem("./images/img-work1.png")
    +workItem("./images/img-work2.png")
    +workItem("./images/img-work3.png")
    +workItem("./images/img-work4.png")
    +workItem("./images/img-work5.png")
    +workItem("./images/img-work6.png")
    +workItem("./images/img-work7.png")