.about {
  padding-top: 9rem;
  padding-bottom: 11rem;
  /* Flebox */
  // &-list {
  //   display: flex;
  //   margin-left: -3rem;
  //   // flex-wrap: wrap;
  // }
  // &-item {
  //   margin-left: 3rem;
  //   width: calc(33.33%);
  // }
  /* Grid */
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }
  &-item {
    cursor: pointer;
    position: relative;
    transition: all 0.25s linear;
    z-index: 1;
  }
  &-item::after {
    content: "";
    @include absoluteFull();
    background-color: $third-color;
    z-index: -1;
    transition: all 0.25s linear;
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    @include absoluteFull();
    background: linear-gradient(
      to bottom,
      rgba($primary-color, 0.8),
      rgba($secondary-color, 0.8)
    );
    z-index: 2;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear;
  }
  &-title {
    font-size: 1.8rem;
    margin-top: 1rem;
    line-height: 1.4;
    @include textClamp(2);
  }
  &-icon {
    font-size: 2.5rem;
  }

  &-item:hover {
    transform: translate(-1rem, -1rem);
    .about-content {
      opacity: 1;
      visibility: visible;
    }
    &::after {
      transform: translate(1rem, 1rem);
    }
  }
  @include maxWidth(767px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &-list {
      grid-template-columns: unset;
      grid-auto-columns: 85%;
      grid-auto-flow: column;
      grid-column-gap: 2rem;
      overflow-x: auto;
      padding: 1rem;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      @include hiddeScrollBar();
    }
    &-item {
      scroll-snap-align: center;
    }
  }
}
