.about {
  padding-top: 9rem;
  padding-bottom: 11rem;
  /* Flebox */
  // &-list {
  //   display: flex;
  //   margin-left: -3rem;
  //   // flex-wrap: wrap;
  // }
  // &-item {
  //   margin-left: 3rem;
  //   width: calc(33.33%);
  // }
  /* Grid */
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }
  &-content {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
  &-title {
    font-size: 1.8rem;
    margin-top: 1rem;
    line-height: 1.4;
    @include textClamp(2);
  }
  &-icon {
    font-size: 2.5rem;
  }

  @include maxWidth(1023px) {
    padding: 5rem 0;
  }

  @include maxWidth(767px) {
    &-list {
      @include touchSlider();
    }
  }
}

@include hoverEffect(".about-item", ".about-content");
