extends layout/layout

block vars
	-title = 'Welcome'
	-bodyClass = 'home-page'

block container
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque libero amet recusandae impedit, voluptas saepe aliquid nam, blanditiis adipisci ipsum cum natus reprehenderit illum esse sint veniam. Accusamus, voluptates.
	div title
	h2(class="heading heading_2" id="text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, beatae?
	h3.name-text Lorem ipsum dolor sit.

	ul.list-item
		+ListItem('home', 'homes Link')
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, beatae?
		+ListItem('about','about Link')
		+ListItem('contact', 'contact Link')
